/* table */
.table th:first-of-type,
.table th:nth-of-type(4),
.table td:first-of-type,
.table td:nth-of-type(4){
  text-align: left;
}

.table td:nth-of-type(4) span{
  max-width: 475px;
  overflow: hidden;
  text-overflow: ellipsis;
}
