/* table */
#crawlers_table .table,
#keys_table .table{
  min-width: 550px;
}

#posts-doughnut-chart-legend.count-4 .chart-legend-item:first-of-type i,
#posts-doughnut-chart-legend.count-5 .chart-legend-item:first-of-type i{
  background-color: #1F5192;
}

#posts-doughnut-chart-legend.count-1 .chart-legend-item:first-of-type i,
#posts-doughnut-chart-legend.count-2 .chart-legend-item:first-of-type i,
#posts-doughnut-chart-legend.count-3 .chart-legend-item:first-of-type i,
#posts-doughnut-chart-legend.count-4 .chart-legend-item:nth-of-type(2) i,
#posts-doughnut-chart-legend.count-5 .chart-legend-item:nth-of-type(2) i{
  background-color: #2C7BE5;
}

#posts-doughnut-chart-legend.count-2 .chart-legend-item:last-of-type i,
#posts-doughnut-chart-legend.count-3 .chart-legend-item:nth-of-type(2) i,
#posts-doughnut-chart-legend.count-4 .chart-legend-item:nth-of-type(3) i,
#posts-doughnut-chart-legend.count-5 .chart-legend-item:nth-of-type(3) i{
  background-color: #A6C5F7;
}

#posts-doughnut-chart-legend.count-3 .chart-legend-item:last-of-type i,
#posts-doughnut-chart-legend.count-4 .chart-legend-item:last-of-type i,
#posts-doughnut-chart-legend.count-5 .chart-legend-item:nth-of-type(4) i{
  background-color: #d5e5fa;
}

#posts-doughnut-chart-legend.count-5 .chart-legend-item:last-of-type i{
  background-color: #D2DDEC;
}

.table td .title{
  font-size: .9375rem;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td .title a{
  color: inherit;
}
