.data-counts:after{
    content: "|";
    position: absolute;
    right: -1px;
    top: -1px;
    width: 2px;
    text-align: center;
}

.table.text-left th,
.table.text-left td {
    min-width: 60px;
}
