#deployment-content .type.btn.active{
    border-color: #6e84a3 !important;
    z-index: auto;
}

.table td .name {
    font-size: .9375rem;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* calendar */
#broadcast-calendar table{
    table-layout: fixed;
}

#broadcast-calendar table tbody th{
    padding: .375rem;
    vertical-align: top;
    border-top: 0;
}

#broadcast-calendar table tbody tr th:not(:last-child){
    border-right: 1px dashed #edf2f9;
}

#broadcast-calendar table tbody th>div{
    min-height: 120px;
}

#broadcast-calendar table tbody th .date{
    padding-right: .375rem!important;
    margin-bottom: .375rem!important;
    text-align: right;
}

#broadcast-calendar table tbody th .date span.today{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #e63757;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#broadcast-calendar table tbody th .broadcasts{
    display: flex;
    flex-direction: column;
}

#broadcast-calendar table tbody th .broadcasts .badge{
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .1875rem!important;
    cursor: pointer;
    color: #12263f;
}

#broadcast-calendar table tbody th .broadcasts .badge:last-child{
    margin-bottom: 0;
}

#broadcast-calendar table tbody th .more{
    line-height: 10px;
    cursor: pointer;
}

#broadcast-calendar .badge-soft-secondary[href]:focus,
#broadcast-calendar .badge-soft-secondary[href]:hover{
    background-color: #e2e6ed;
}

/* calendar */
#auto-answer-calendar table{
    table-layout: fixed;
}

#auto-answer-calendar table tbody th{
    padding: 0;
    padding-top: .375rem;
    padding-bottom: .375rem;
    border-top: 0;
}

#auto-answer-calendar table tbody tr th:not(:last-child){
    border-right: 1px dashed #edf2f9;
}

#auto-answer-calendar table tbody th>div{
    min-height: 120px;
}

#auto-answer-calendar table tbody th .date{
    padding-right: .375rem!important;
    margin-bottom: .375rem!important;
    text-align: right;
}

#auto-answer-calendar table tbody th .date span.today{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #e63757;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#auto-answer-calendar table tbody th .auto-answers{
    display: flex;
    flex-direction: column;
}

#auto-answer-calendar table tbody th .auto-answers .badge{
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .1875rem!important;
    cursor: pointer;
    border-radius: 0;
}

#auto-answer-calendar table tbody th .auto-answers .badge.space{
    cursor: default;
    background: transparent;
}

#auto-answer-calendar table tbody th .auto-answers .badge.ml{
    margin-left: .375rem!important;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    color: #12263f;
}

#auto-answer-calendar table tbody th .auto-answers .badge.mr{
    margin-right: .375rem!important;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

#auto-answer-calendar table tbody th .auto-answers .badge:last-child{
    margin-bottom: 0;
}

#auto-answer-calendar table tbody th .more{
    line-height: 10px;
    min-height: 10px;
}

#auto-answer-calendar .badge-soft-info[href]:focus,
#auto-answer-calendar .badge-soft-info[href]:hover{
    background-color: #d7eff6;
}
