.table td .name {
    font-size: .9375rem;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* type buttons */
#broadcasts-table .type.btn.active{
    border-color: #6e84a3 !important;
}

/* calendar */
#broadcast-calendar table{
    table-layout: fixed;
}

#broadcast-calendar table tbody th{
    padding: .375rem;
    vertical-align: top;
}

#broadcast-calendar table tbody tr th:not(:last-child){
    border-right: 1px dashed #edf2f9;
}

#broadcast-calendar table tbody th>div{
    min-height: 85px;
}

#broadcast-calendar table tbody th .date{
    padding-right: .375rem!important;
    margin-bottom: .375rem!important;
    text-align: right;
}

#broadcast-calendar table tbody th .date span.today{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #e63757;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#broadcast-calendar table tbody th .broadcasts{
    display: flex;
    flex-direction: column;
}

#broadcast-calendar table tbody th .broadcasts .badge{
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .1875rem!important;
    cursor: pointer;
}

#broadcast-calendar table tbody th .broadcasts .badge:last-child{
    margin-bottom: 0;
}

#broadcast-calendar table tbody th .more{
    line-height: 10px;
    cursor: pointer;
}

/* broadcast-list */

#broadcast-list .target_type:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

#broadcast-list .message-content li{
    color: #6e84a3;
    background-color: #e2e6ed;
    display: inline-block;
    padding: .33em .5em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}

#broadcast-list .message-content li.has-quick-replay{
    color: #39afd1;
    background-color: #d7eff6;
    border-color: #d7eff6;
}
