.text-2451010{
    color: rgb(245, 101, 0)!important;
}

.sent-status:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}


.remove-btn:after{
    content: "|";
    position: absolute;
    left: -1px;
    width: 2px;
    text-align: center;
}
