/* credit-card */
#credit-cards .card{
  border-radius: 1rem;
  max-width: 400px;
  min-width: 350px;
  height: 197px;
}

#credit-cards .card:hover .credit-card-mask{
  opacity: 1;
}

.credit-card-default{
  font-size: 18px;
}

.credit-card-shiny{
  position: relative;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background: #CCC;
  margin-bottom: 30px;
}

.credit-card-shiny:before{
  content: "";
  display: block;
  width: 70%;
  height: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d9d9d9;
  position: absolute;
  top: 20%;
}

.credit-card-number .dots{
  font-size: 20px;
}

.credit-card-number .numbers{
  font-size: 18px;
}

.credit-card-good-thru.title{
  font-size: 12px;
}

/* 新增信用卡 */
#new-card svg{
  opacity: 0.5;
  transition: 0.2s;
}

#new-card:hover svg{
  opacity: 1
}

/* 信用卡動作 */
.credit-card-mask{
  opacity: 0;
  transition: 0.2s;
}

.credit-card-bg{
  width: 150%;
  height: 150%;
  opacity: 0.9;
  transform: translate(-16.66%, -16.66%) rotate(10deg);
}

.credit-card-bg .default{
  background: #d5e5fa;
}

.credit-card-bg .delete{
  background: #fad7dd;
}

.credit-card-actions{
  font-size: 18px;
}
