/* 建立訊息 */

/* dropzone */
.idropzone{
    position: relative;
    display: flex;
    flex-direction: column;
}

.dz-preview-cover,
.dz-preview-single{
    position: relative;
}

.dropzone-single .dz-message{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.dropzone-single.i-dz-max-files-reached img{
    display: inline !important;
}

/* for this page */
.w-344{
    width: 344px !important;
}
.w-420{
    width: 420px !important;
}

.col-370{
    position: relative;
    width: 370px;
    padding-right: 12px;
    padding-left: 12px;
}

#datetime{
    height: 40px;
}

/* message-types */
#message-types{
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    background: #d2ddec;
    transform: translateX(100%);
    transition: transform 0.4s;
}

#message-types .btn.active{
    border-color: #6e84a3;
}

/* #message-types .types{
    height: calc(100% - 77px);
} */

#message-types.active{
    transform: translateX(0);
}

#message-types-switch{
    position: absolute;
    left: -25px;
    top: 100px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #d2ddec;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
}

#message-types.active #message-types-switch{
    padding-left: 9px;
}

#message-types .type{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 80px;
    border-radius: .375rem;
    cursor: pointer;
    overflow: hidden;
}

#message-types .type.disabled{
    background: rgba(0,0,0,.2);
    cursor: not-allowed;
}

/* new-message */
#new-message-layout{
    border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
    padding: 2.25rem;
}

#new-message-layout .buttons{
    margin-top: 28px;
    width: 16px;
}

#new-message-layout  .card{
    box-shadow: none !important;
}

#new-message-layout .message>.w-100{
    width: calc(100% - 22px) !important;
}

/* text message */
#new-message-layout .text-message .card{
    width: 350px;
}

#new-message-layout .text-message .texarea-not-input pre{
    font-size: 15px;
    min-height: 132px;
}

/* image & video message */
#new-message-layout .image-message .un-upload,
#new-message-layout .video-message .un-upload{
    width: 350px;
    height: 182px;
}

#new-message-layout .image-message .uploaded,
#new-message-layout .video-message .uploaded{
    max-width: 350px;
    max-height: 350px;
}

#new-message-layout .image-message .dropzone-single img{
    display: none;
    max-height: 350px;
    max-width: 350px;
    width: auto;
    height: auto;
}

#new-message-layout .video-message .dropzone-single video{
    max-height: 350px;
    max-width: 350px;
    width: auto;
    height: auto;
}

#new-message-layout .video-message .dropzone-single video:focus{
    outline: none;
}

/* imagemap message */
#new-message-layout .imagemap-message .image-layout{
    width: 350px;
    height: 350px;
}

.imagemap-message .change-image:hover{
    color: #12263f !important;
}

.imagemap-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* buttons message & carousel message */
#new-message-layout .buttons-message .card,
#new-message-layout .carousel-message .card{
    width: 350px;
}

#new-message-layout .buttons-message .texarea-not-input pre,
#new-message-layout .carousel-message .texarea-not-input pre{
    font-size: 15px;
    min-height: 22px;
}

#new-message-layout .buttons-message .not-input.title,
#new-message-layout .buttons-message .not-input.title{
    font-size: 16px;
    font-weight: 600;
    min-height: 24px;
}

.buttons-message .texarea-not-input.text textarea,
.carousel-message .texarea-not-input.text textarea{
    color: #434343;
}

#new-message-layout .buttons-message .not-input.title::-webkit-input-placeholder,
#new-message-layout .carousel-message .not-input.title::-webkit-input-placeholder{
    font-size: 16px;
    font-weight: 400;
}

#new-message-layout .buttons-message .texarea-not-input.title textarea::-moz-placeholder,
#new-message-layout .carousel-message .texarea-not-input.title textarea::-moz-placeholder{
    font-size: 16px;
    font-weight: 400;
}

#new-message-layout .buttons-message .not-input.title::-moz-placeholder,
#new-message-layout .carousel-message .not-input.title::-moz-placeholder{
    font-size: 16px;
    font-weight: 400;
}

#new-message-layout .buttons-message .not-input.title:-ms-input-placeholder,
#new-message-layout .carousel-message .not-input.title:-ms-input-placeholder{
    font-size: 16px;
    font-weight: 400;
}

.buttons-message .actions input.not-input,
.carousel-message .actions input.not-input{
    color: #335088;
}

.buttons-message .image-layout.rectangle,
.carousel-message .image-layout.rectangle{
    padding: 33.75% 0 33.75% 0;
}

.buttons-message .image-layout.square,
.carousel-message .image-layout.square{
    padding: 50% 0 50% 0;
}

.buttons-message .dz-message,
.carousel-message .dz-message{
    border-radius: 0.45rem;
}

.buttons-message .image-layout>div,
.buttons-message .dropzone-single .dz-message,
.carousel-message .image-layout>div,
.carousel-message .dropzone-single .dz-message{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.buttons-message .close-edit-block,
.carousel-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* confirm message */

#new-message-layout .confirm-message .card{
    width: 350px;
}

#new-message-layout .confirm-message .texarea-not-input pre{
    font-size: 15px;
    min-height: 22px;
}

.confirm-message .actions>div:first-child{
    border-right: .5px solid #e3ebf6;
}

.confirm-message .actions>div:last-child{
    border-left: .5px solid #e3ebf6;
}

.confirm-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* imagecarousel message */
#new-message-layout .imagecarousel-message .image-layout{
    width: 350px;
    height: 350px;
}

.imagecarousel-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

#new-message-layout .imagecarousel-message .image-layout+.button{
    bottom: 50px;
    left: 90px;
    z-index: 999;
}

#new-message-layout .imagecarousel-message .image-layout+.button input{
    width: 170px;
    font-size: 13px;
    background: #d2ddec;
    border-radius: 25px;
}

.imagecarousel-message .image-layout+.button input.valued{
    background: rgba(0,0,0,0.5);
}

.imagecarousel-message .image-layout+.button input::-webkit-input-placeholder{
    color: #95aac9;
}

.imagecarousel-message .image-layout+.button input::-moz-placeholder{
    color: #95aac9;
}

.imagecarousel-message .image-layout+.button input::-moz-placeholder{
    color: #95aac9;
}

.imagecarousel-message .image-layout+.button input:-ms-input-placeholder{
    color: #95aac9;
}

.imagecarousel-message .image-layout+.button input.bg-danger::-webkit-input-placeholder{
    color: #fff;
}

.imagecarousel-message .image-layout+.button input.bg-danger::-moz-placeholder{
    color: #fff;
}

.imagecarousel-message .image-layout+.button input.bg-danger::-moz-placeholder{
    color: #fff;
}

.imagecarousel-message .image-layout+.button input.bg-danger:-ms-input-placeholder{
    color: #fff;
}

/* quickreply message */
#new-message-layout .quickreply-message .image-layout{
    top: 4px;
    left: 4px;
    width: 23px;
    height: 23px;
}

#new-message-layout .quickreply-message .insert-or-remove-buttons-layout{
    padding-right: 53px;
}

#new-message-layout .quickreply-message .insert-or-remove-buttons{
    display: flex;
    height: 100%;
    left: 175px;
    padding-top: 2.5px;
}

.quickreply-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

#new-message-layout .quickreply-message .button input{
    width: 170px;
    font-size: 13px;
    background: #d2ddec;
    border-radius: 25px;
    padding-left: 26px;
}

#new-message-layout .quickreply-message .button input.valued{
    background: rgba(0,0,0,0.25);
}

.quickreply-message .button input::-webkit-input-placeholder{
    color: #95aac9;
}

.quickreply-message .button input::-moz-placeholder{
    color: #95aac9;
}

.quickreply-message .button input::-moz-placeholder{
    color: #95aac9;
}

.quickreply-message .button input:-ms-input-placeholder{
    color: #95aac9;
}

.quickreply-message .button input.bg-danger::-webkit-input-placeholder{
    color: #fff;
}

.quickreply-message .button input.bg-danger::-moz-placeholder{
    color: #fff;
}

.quickreply-message .button input.bg-danger::-moz-placeholder{
    color: #fff;
}

.quickreply-message .button input.bg-danger:-ms-input-placeholder{
    color: #fff;
}

/* coupon message */
/* #new-message-layout .coupon-message .imagemap-type.image-layout{
    width: 350px;
    height: 350px;
}

#new-message-layout .coupon-message .image-type.un-upload{
    width: 350px;
    height: 182px;
}

#new-message-layout .coupon-message .image-type.uploaded{
    max-width: 350px;
    max-height: 350px;
}

#new-message-layout .coupon-message .dropzone-single img{
    display: none;
    max-height: 350px;
    max-width: 350px;
    width: auto;
    height: auto;
}

#new-message-layout .coupon-message .type span{
    width: 75px;
} */





/* droppable */
.droppable>div{
    border-radius: .375rem;
    height: 0;
    border: 0 dashed #d2ddec;
    transition: height 0.2s;
}

.droppable.dragover>div{
    height: 40px;
    border-width: 2px;
}



/* not-input */

.texarea-not-input pre{
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
}

textarea.not-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none !important;
    border: none;
    resize: none !important;
    overflow: hidden !important;
}

input.not-input{
    width: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: rgba(256,256,256,.5);
}

.grid .tr {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.grid .td {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: .5px solid #d2ddec;
    overflow: hidden;
}

.grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: .375rem;
    cursor: pointer;
}

.grid .td .index .times{
    display: none;
}

.grid .td .index:hover .times{
    display: block;
}

.grid .td .index:hover .id{
    display: none;
}

.grid .td>.tr>.td:first-of-type{
    border-left-width: 0 !important;
}

.grid .td>.tr>.td:last-of-type{
    border-right-width: 0 !important;
}

.grid .td>.tr:first-of-type>.td{
    border-top-width: 0 !important;
}

.grid .td>.tr:last-of-type>.td{
    border-bottom-width: 0 !important;
}




.grid>.tr>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:first-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-top-left-radius: .375rem;
}

.grid>.tr:first-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-top-right-radius: .375rem;
}

.grid>.tr:first-of-type>.td{
    border-top-width: 2px;
}

.grid>.tr:last-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-bottom-left-radius: .375rem;
}

.grid>.tr:last-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-bottom-right-radius: .375rem;
}

.grid>.tr:last-of-type>.td{
    border-bottom-width: 2px;
}

/* #grid */
#grid .td.hover,
#grid .td.dragover,
#grid .td.selected{
    background: rgba(210,221,236,.75);
}

#grid .td.has-error{
    background: rgba(230, 55, 87, .6) !important;
}

/* new-row new-column */
.new-grid{
    width: 50px;
    height: 50px;
}

.new-grid .td{
    background-color: rgba(256,256,256,0.75);
}

/* message-action */
.message-action .card,
.keyword-action .card{
    border: 1px solid #d2ddec;
}

.message-action pre{
    min-height: 88px !important;
}

.keyword-action pre{
    min-height: 66px !important;
}

.keyword-action .card-body.disabled{
    background: #f9fbfd;
    opacity: .6;
}
