/* 推播訊息內容 */

.width-400{
    width: 400px !important;
    background: #fff;
}

.width-326{
    width: 326px !important;
}

.bg-edf2f9{
    background: #edf2f9 !important;
}

#message-preview{
    box-shadow: none !important;
}

#message-preview>.card-header{
    border: 1px solid #edf2f9;
}

#message-preview .message>.width-400{
    border-left: 1px solid #edf2f9;
    border-right: 1px solid #edf2f9;
}

#message-preview .message>.width-400{
    padding-left: 0;
    padding-right: 0;
}

#message-preview .message:last-of-type>.width-400{
    border-bottom: 1px solid #edf2f9;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

#message-preview .message:last-of-type>.width-400>div{
    padding-bottom: 3rem !important;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

/* 訊息內容 */

#message-preview .image-message img,
#message-preview .video-message video,
#message-preview .imagemap-message img,
#message-preview .imagecarousel-message img{
    max-height: 350px;
    max-width: 350px;
}

/* buttons message & confirm message & carousel message */

#message-preview .buttons-message .image-layout.rectangle,
#message-preview .carousel-message .image-layout.rectangle{
    padding: 33.75% 0 33.75% 0;
}

#message-preview .buttons-message .image-layout.square,
#message-preview .carousel-message .image-layout.square{
    padding: 50% 0 50% 0;
}

#message-preview .buttons-message .title,
#message-preview .carousel-message .title{
    font-size: 16px;
    font-weight: 600;
    min-height: 24px;
}

#message-preview .buttons-message .text,
#message-preview .confirm-message .text,
#message-preview .carousel-message .text{
    color: #434343;
}

#message-preview .buttons-message .label,
#message-preview .confirm-message .label,
#message-preview .carousel-message .label{
    color: #335088;
}

/* confirm-message */

#message-preview .confirm-message .actions>div:first-child{
    border-right: 1px solid #e3ebf6;
}

/* imagecarousel-message */

#message-preview .imagecarousel-message .button{
    bottom: 50px;
}

#message-preview .imagecarousel-message .button>div,
#message-preview .quickreply-message .button>div{
    font-size: 13px;
    background: rgba(0,0,0,0.25);
    border-radius: 25px;
}

#message-preview .imagecarousel-message .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

#message-preview .imagecarousel-message .index::before{
    content: '';
    position: absolute;
    left: -40px;
    top: -40px;
    background: rgba(0,0,0,0.25);
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
}

#message-preview .quickreply-message .button img{
    position: absolute;
    top: 4px;
    left: 4px;
    height: 23px;
    border-radius: 50%;
}

#message-preview .quickreply-message .button .hasImage{
    padding-left: 34px !important;
}

/* action-list */

.action-list{
    margin-top: 2.25rem;
}

.action-list th{
    min-width: 70px;
    vertical-align: top !important;
}

.action-list th.hover{
    color: #f6c343;
    text-decoration: underline;
}

.action-list td{
    width: 100%;
}

.action-list tr:first-of-type th,
.action-list tr:first-of-type td{
    border-top: 0;
}

.action-list td p{
    display: flex;
    text-align: justify;
    margin-bottom: .375rem;
}

.action-list td p.h5{
    align-items: center;
}

.action-list .tags-count{
    margin-top: -1px;
}

.action-list td>div p:last-of-type{
    margin-bottom: 0;
    word-break: break-word;
}

.action-list td p span:first-child{
    word-break: keep-all;
}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: rgba(256,256,256,.5);
}

.grid .tr {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.grid .td {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: .5px solid #d2ddec;
    overflow: hidden;
}

.grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: .375rem;
}

.grid .td>.tr>.td:first-of-type{
    border-left-width: 0 !important;
}

.grid .td>.tr>.td:last-of-type{
    border-right-width: 0 !important;
}

.grid .td>.tr:first-of-type>.td{
    border-top-width: 0 !important;
}

.grid .td>.tr:last-of-type>.td{
    border-bottom-width: 0 !important;
}




.grid>.tr>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:first-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-top-left-radius: .5rem;
}

.grid>.tr:first-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-top-right-radius: .5rem;
}

.grid>.tr:first-of-type>.td{
    border-top-width: 2px;
}

.grid>.tr:last-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-bottom-left-radius: .5rem;
}

.grid>.tr:last-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-bottom-right-radius: .5rem;
}

.grid>.tr:last-of-type>.td{
    border-bottom-width: 2px;
}
