/* undeploy-info */
#undeploy-info{
  margin-bottom: -1rem;
  color: #6e84a3;
}

.deployment-info{
    width: calc(100% - 6rem - 24px) !important;
}

.profile-picture{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.profile-picture img{
    height: 100%;
    width: 100%;
}

#solution-4 .QR-code img{
    height: 60px;
}
