/* solution-info */
#solution-info{
  text-align: justify;
  margin-bottom: -1rem;
}

#solution-info  .info-group{
  margin-bottom: 1rem;
}

#solution-info  .info-group h4{
  display: flex;
  align-items: center;
  color: #12263f;
  font-weight: 400;
}

#solution-info  .info-group h4 i{
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  height: 1.3125rem;
}

#solution-info  .info-group .info-item{
  padding-left: 24px;
  margin-bottom: 1rem;
}

#solution-info  .info-item{
  color: #6e84a3;
  padding: 0;
  margin-bottom: 2rem;
}

#solution-info .info-item .index{
  font-style: italic;
  font-weight: 600;
  padding-right: 5px;
}

#solution-info  .info-item strong{
  padding: 0 5px;
}

#solution-info  .info-item .title.strong{
  font-weight: 600;
}

#solution-info  .info-item a.content{
  color: #6e84a3;
  text-decoration: underline;
}

#solution-info  .info-item .content span{
  display: inline-block;
}


/* activate_button bottom */
#activate_button{
  margin-top: 2rem;
}
