/* solution */
#solutions a.card{
  color: #12263f;
  transition: border-color 0.2s;
}

#solutions a.card:hover{
  border-color: #2c7be5;
}

#solutions .d-flex{
  margin-bottom: 1rem;
}

#solutions .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

#solutions .title{
  font-weight: 600;
}

#solutions .category{
  font-size: .875rem;
  margin-bottom: 0;
  color: #6e84a3;
}

#solutions .description{
  font-size: .875rem;
  margin-bottom: 0;
  color: #6e84a3;
}
