.col-20{
    position: relative;
    width: 20%;
    flex: 0 0 20%;
    padding: 0 1px;
}

.pl-1125{
    padding-left: 1.125rem !important;
}

.pr-1125{
    padding-right: 1.125rem !important;
}

.border-radius-1{
    border-radius: 1rem;
}

.pl-05{
    padding-left: .5rem !important;
}

.pr-05{
    padding-right: .5rem !important;
}

.letter-spacing-08{
    letter-spacing: .8px !important;
}

#chatroom{
    height: calc(100vh - 3rem);
}

/* chatroom-sidebar */

#chatroom-sidebar{
    background: #6e84a3;
    color: #95aac9;
}

#chatroom-sidebar>div{
    padding: 10px;
}

/* chatroom-list */

#chatroom-list{
    position: relative;
    width: 250px;
    border: 1px solid #edf2f9;
    border-left: 0;
}

/* chatroom-users */

.search-from{
    border-bottom: 1px solid #edf2f9;
}

.users-list .list-group-item{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.users-list .list-group-item.i-active{
    background: #edf2f9;
}

.users-list .list-group-item:last-child{
    border-bottom: 0;
}

.users-list .user-info{
    overflow: hidden;
}

.users-list img{
    width: 2.5rem;
    height: 2.5rem;
}

.users-list .dot{
    position: absolute;
    top: -3px;
    right: 2px;
}

.users-list .dot span{
    transform: scale(0.75);
    color: #e2e6ed;
}

.users-list .name{
    margin-bottom: 0;
}

/* chatroom-window */

#chatroom-window{
    border: 1px solid #edf2f9;
    border-left: 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

/* ========== messages ========== */

.width-350{
    width: 350px !important;
}

.width-300{
    width: 300px !important;
}

.width-250{
    width: 250px !important;
}

.max-width-250{
    max-width: 250px !important;
}

#chatroom-window{
    box-shadow: none !important;
}

#chatroom-window>.card-header{
    border: 1px solid #edf2f9;
}

#chatroom-window .profile img{
    width: 2.5rem;
    height: 2.5rem;
}

/* 訊息內容 */

#chatroom-window .image-message img,
#chatroom-window .video-message video{
    max-height: 250px;
    max-width: 250px;
}

#chatroom-window .video-message video:focus{
    outline: none;
}

#chatroom-window .imagemap-message img,
#chatroom-window .imagecarousel-message img{
    max-height: 300px;
    max-width: 300px;
}

/* buttons message & confirm message & carousel message */

#chatroom-window .buttons-message .image-layout.rectangle,
#chatroom-window .carousel-message .image-layout.rectangle{
    padding: 33.75% 0 33.75% 0;
}

#chatroom-window .buttons-message .image-layout.square,
#chatroom-window .carousel-message .image-layout.square{
    padding: 50% 0 50% 0;
}

#chatroom-window .buttons-message .title,
#chatroom-window .carousel-message .title{
    font-size: 16px;
    font-weight: 600;
    min-height: 24px;
}

#chatroom-window .buttons-message .text,
#chatroom-window .confirm-message .text,
#chatroom-window .carousel-message .text{
    color: #434343;
}

#chatroom-window .buttons-message .label,
#chatroom-window .confirm-message .label,
#chatroom-window .carousel-message .label{
    color: #335088;
}

/* confirm-message */

#chatroom-window .confirm-message .actions>div:first-child{
    border-right: 1px solid #e3ebf6;
}

/* imagecarousel-message */

#chatroom-window .imagecarousel-message .button{
    bottom: 50px;
}

#chatroom-window .imagecarousel-message .button>div,
#chatroom-window .quickreply-message .button>div{
    font-size: 13px;
    background: rgba(0,0,0,0.25);
    border-radius: 25px;
}

#chatroom-window .imagecarousel-message .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

#chatroom-window .imagecarousel-message .index::before{
    content: '';
    position: absolute;
    left: -40px;
    top: -40px;
    background: rgba(0,0,0,0.25);
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
}

#chatroom-window .quickreply-message .button img{
    position: absolute;
    top: 4px;
    left: 4px;
    height: 23px;
    border-radius: 50%;
}

#chatroom-window .quickreply-message .button .hasImage{
    padding-left: 34px !important;
}

/* input-bar */
#input-bar{
    background: #edf2f9;
}

#input-bar .texarea-not-input pre{
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    overflow: hidden;
    margin: 0;
    font-size: 15px;
    min-height: 28px;
    white-space: pre-line;
    word-break: break-word;
}

#input-bar textarea.not-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    word-break: break-word;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

/* top-bar */

#top-bar{
    background: #edf2f9;
    padding: .65rem;
}

/* image selector */

#images-selector{
    margin: 0 -1px;
}

#images-selector .image-layout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50% 0;
    overflow: hidden;
}

#images-selector .checkbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 5px;
    color: #fff;
    font-size: 14px;
}

#dialog-serch-result{
    transform: translateX(0);
    transition: transform 0.4s;
}

#dialog-serch-result.active{
    transform: translateX(-100%);
}

#dialog-serch-result .result-info{
    padding: .75rem 1.25rem;
}
