.main-content .container-fluid{
    min-width: 1030px;
}

body{
    font-family: Nunito;
    overflow-x: hidden;
}

/* display */
.i-d-flex{
    display: flex;
}

#show-sidebar-btn,
#hide-sidebar-btn{
    display: none;
}

#hide-sidebar-btn{
    position: fixed;
    left: -25px;
    top: calc(50vh - 25px);
    align-items: center;
    padding-left: 26px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #d2ddec;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    transform: translateX(-27px);
    transition: 0.2s;
}

@media (min-width: 768px){
    #sidebar.collapsed{
        width: auto !important;
        padding-right: 0 !important;
        background-color: transparent !important;
        border-width: 0 !important;
    }

    #sidebar.collapsed:hover #hide-sidebar-btn{
        transform: translateX(0);
    }

    #sidebar.collapsed .container-fluid{
        display: none !important;
    }

    .navbar-vertical.navbar-expand-md.fixed-left.collapsed~.main-content {
        margin-left: 0 !important;
    }

    #show-sidebar-btn{
        display: block;
    }

    #hide-sidebar-btn{
        display: flex;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

img.svg{
    visibility: hidden;
}

.nopadding{
    padding: 0 !important;
}

.nomargin{
    margin: 0 !important;
}

/* font-size */
.font-size-0750{
    font-size: 0.75rem !important;
}

.font-size-0875{
    font-size: 0.875rem !important;
}

/* sidebar logo size */
@media (min-width: 768px){
    .navbar-vertical.navbar-expand-md .navbar-brand-img{
        max-height: 2rem;
    }
}

/* custom-switch */
.custom-switch{
    min-height: 40px;
}

.custom-switch .custom-control-label{
    cursor: pointer;
}

.custom-switch.custom-switch-sm{
    padding-left: 2.5rem;
    min-height: auto;
}

.custom-switch.custom-switch-sm .custom-control-label:before {
    top: 0;
    height: 1.2rem;
    left: -2.5rem;
    width: 2rem;
}

.custom-switch.custom-switch-sm .custom-control-label:after {
    top: .17rem;
    left: -2.325rem;
    width: 0.85rem;
    height: 0.85rem;
}

.custom-switch.custom-switch-sm .custom-control-input:checked~.custom-control-label:after {
    transform: translateX(0.76rem);
}

/* position */
.top{
    top: 0 !important;
}

.bottom{
    bottom: 0 !important;
}

.left{
    left: 0 !important;
}

.right{
    right: 0 !important;
}

/* sidebar */
#dashboardSliders{
    font-size: 0.875rem;
}

#dashboardSliders ul.navbar-nav i{
    display: flex;
    align-items: center;
}

/* 文字顏色 */
.color-light{
    color: #95aac9;
}

.color-d2ddec{
    color: #d2ddec !important;
}

.text-primary-hover:hover{
    color: #2c7be5 !important;
}

.text-secondary-hover:hover{
    color: #6e84a3 !important;
}

.text-danger-hover:hover{
    color: #e63757 !important;
}

/* vue 編譯前隱藏編碼 */
[v-cloak] {
    visibility: hidden;
}

/* form */
.form-required{
    margin-left: 5px;
}

/* from 顯示錯誤訊息 */
.i-form-control.is-invalid~.invalid-feedback,
.i-form-control.is-invalid~.invalid-feedback{
    display: block;
}

/* table */
.table{
    background-color: #fff;
    margin-bottom: 0;
}

.table:not(.card-table) thead th{
    background-color: #fff;
    border-top: none;
}

.table [data-sort]:after{
    margin-left: 0.5rem;
}

.table-layout-fixed{
    table-layout: fixed !important;
}

.table-responsive{
    font-size: 0.8125rem;
}

.table td,
.table th{
    vertical-align: middle;
}

.table th{
    border-bottom: 0 !important;
}

.table td:first-of-type{
    max-width: 400px;
}

/* table sort */
.table [data-sort]:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0Z' fill='%23e2e6ed'/><path fill-rule='evenodd' clip-rule='evenodd' d='M3 10L0 6H6L3 10Z' fill='%23e2e6ed'/></svg>")
}

/* table sort */
.table .asc[data-sort]:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0Z' fill='%2395AAC9'/><path fill-rule='evenodd' clip-rule='evenodd' d='M3 10L0 6H6L3 10Z' fill='%23e2e6ed'/></svg>")
}

.table .desc[data-sort]:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0Z' fill='%23e2e6ed'/><path fill-rule='evenodd' clip-rule='evenodd' d='M3 10L0 6H6L3 10Z' fill='%2395AAC9'/></svg>")
}

/* table text align */
.table th,
.table td{
    text-align: center;
}

.table.text-left th,
.table.text-left td{
    text-align: left;
}

.table.text-right th,
.table.text-right td{
    text-align: right;
}

/* table border */
.table.border-0 th,
.table.border-0 td{
    border: none;
}

.table td p{
    margin-bottom: 0;
}

.table td .ibadge{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    padding: .33em .5em;
    border-radius: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    font-size: 75%;
}
.table td .label{
    padding: 0 .5em;
}

.table td .ibtn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 40px;
    border-radius: 0.25rem;
    border: 1px solid;
}

.table td .ibtn:not(:first-of-type){
    margin-left: 5px;
}

/* dropdown menu */
.table .dropdown-ellipses{
    transition: 0.2s;
}

.table .dropdown-menu{
    min-width: auto;
}

/* page nav */
.table-responsive nav{
    display: flex;
    justify-content: center;
}

.page-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
}

.page-item{
    margin: 0 5px;
}

.page-item .page-link{
    border-radius: .375rem !important;
}

.page-item.active .page-link{
    color: initial;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

/* vue select */
.multiselect.multiselect-sm{
    min-height: auto;
}

.multiselect__tags{
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    padding-bottom: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #12263f;
    border: 1px solid #d2ddec;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
}

.multiselect.multiselect-sm .multiselect__tags{
    font-size: .8125rem;
    line-height: 1.75;
    height: calc(1.67188rem + 2px);
    padding: .125rem .5rem;
    border-radius: .25rem;
    min-height: auto;
}

.multiselect.multiselect-sm .multiselect__option{
    min-height: auto;
    padding: 8px;
    font-size: .8125rem;
}

.multiselect.is-invalid .multiselect__tags{
    border-color: #e63757 !important;
}

.multiselect.multiselect--active.multiselect-sm .multiselect__tags{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multiselect.multiselect--active .multiselect__content li:first-child{
    display: list-item !important;
}

.multiselect.is-invalid~.invalid-feedback{
    display: block;
}

.multiselect__input,
.multiselect__single{
    color: #12263f;
    font-size: 15px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.multiselect.multiselect-sm .multiselect__input,
.multiselect.multiselect-sm .multiselect__single{
    font-size: .8125rem;
}

.multiselect__input{
    width: 100% !important;
}

.multiselect.selected .multiselect__input{
    margin-bottom: .5rem;
}

.multiselect__tags>span>.multiselect__input,
.multiselect__tags>span>.multiselect__single{
    color: #b1c2d9;
}

.multiselect__content-wrapper{
    border: 1px solid #d2ddec;
    border-top: none;
}

.multiselect--above .multiselect__content-wrapper{
    border-bottom: none;
    border-top: 1px solid #d2ddec;
}

.multiselect__element{
    color: #6e84a3;
    font-size: 15px;
}

.multiselect__option--highlight{
    color: #12263f;
    background: #fff;
}

.multiselect__option--selected.multiselect__option--highlight{
    color: #12263f;
    background: #fff;
}

.multiselect__option--selected{
    font-weight: 400;
    background: #f3f3f3 !important;
}

.multiselect__option--highlight:after{
    background: #d2ddec;
}

.multiselect__tag{
    background: #edf2f9;
    font-size: .8125rem;
    color: #12263f;
    margin-bottom: 0;
}

.multiselect__tag span{
    vertical-align: text-bottom;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover{
    background: initial;
}

.multiselect__tag-icon:after{
    color: #95aac9;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after{
    color: #12263f
}

.multiselect__tags-wrap{
    display: block;
    width: 100%;
}

.multiselect.hidden-arrow .multiselect__select{
    display: none !important
}

.multiselect--disabled{
    background: transparent !important;
}

/* 輸入匡placeholder color */
.multiselect__input::-webkit-input-placeholder{
    color: #b1c2d9;
}

.multiselect__input::-moz-placeholder {
    color: #b1c2d9;
}

.multiselect__input::-moz-placeholder{
    color:#b1c2d9;
}

.multiselect__input:-ms-input-placeholder{
    color: #b1c2d9;
}

/* taggable 隱藏選擇匡 */
.multiselect.taggable .multiselect__content-wrapper{
    display: none !important;
}

.multiselect.taggable .multiselect__tags{
    border-radius: .375rem !important;
}

.multiselect__spinner{
    z-index: 1;
    border-radius: .375rem;
    height: calc(100% - 2px);
}

.multiselect__spinner::before,
.multiselect__spinner::after{
    border-color: #2c7be5 transparent transparent;
}

.multiselect__spinner:before {
    animation: multiselect-a 2.4s cubic-bezier(.41,.26,.2,.62);
}

.multiselect__spinner:after {
    animation: multiselect-a 2.4s cubic-bezier(.51,.09,.21,.8);
}

@keyframes multiselect-a{
    0%{
        transform: rotate(0);
    }
    to
    {
        transform: rotate(2turn);
    }
}

/* custom-switch */
.i-form-control .custom-control.custom-switch:not(:last-of-type){
    margin-bottom: 1.375rem;
}

/* button */
btn-transparent{
    border-color: transparent;
    background: transparent;
}


/* border */
.border-dashed{
    border-style: dashed;
}

.border-radius-05{
    border-radius: .5rem !important;
}

.border-radius-0375{
    border-radius: .375rem !important;
}

.border-radius-tl-05{
    border-top-left-radius: .5rem;
}

.border-radius-tr-05{
    border-top-right-radius: .5rem;
}

.border-radius-bl-05{
    border-bottom-left-radius: .5rem;
}

.border-radius-br-05{
    border-bottom-right-radius: .5rem;
}


/* loading */
.loading-layout.bg-secondary{
    background: rgba(226, 230, 237, 0.3) !important;
}

/* z-index */
.z-index--1{
    z-index: -1 !important;
}

.z-index-1{
    z-index: 1 !important;
}

.z-index-2{
    z-index: 2 !important;
}

.z-index-999{
    z-index: 999 !important;
}

/* draggable */
.draggable-element{
    display: inline-flex;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background: rgb(237, 242, 249);
    font-size: 0.8125rem;
    color: rgb(18, 38, 63);
    margin-bottom: 0px;
    align-items: center;
    cursor: pointer;
}

.draggable-element:last-of-type{
    margin-right: 0;
}

.sortable-chosen.sortable-ghost{
    background-color: #fdf3d9;
}

/* card */
.card {
    overflow: hidden;
}

.card .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(226, 230, 237, 0.5);
}

/* sidebar nav */

.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse]:after{
    content: none !important;
}

.navbar-vertical .nav-item:nth-child(n+2) .nav-link .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: 0.2s;
}

.navbar-vertical .nav-item:nth-child(n+2) .nav-link:not(.collapsed) .arrow{
    transform: rotate(180deg);
}

.navbar-vertical .nav-item:nth-child(n+2) .nav-link .arrow svg{
    width: 1.125rem;
    height: 1.125rem;
}

/* white-space */

.white-space-nowrap{
    white-space: nowrap !important;
}

.white-space-pre{
    white-space: pre !important;
}

.white-space-pre-line{
    white-space: pre-line !important;
}

/* cursor */
.cursor-pointer{
    cursor: pointer !important;
}

.cursor-not-allowed{
    cursor: not-allowed !important;
}

.cursor-grab{
    cursor: grab !important;
}

/* textarea placeholder */
textarea::-webkit-input-placeholder{
    color: #b1c2d9;
}

textarea::-moz-placeholder {
    color: #b1c2d9;
}

textarea::-moz-placeholder{
    color:#b1c2d9;
}

textarea:-ms-input-placeholder{
    color: #b1c2d9;
}

/* input placeholder */
input::-webkit-input-placeholder{
    color: #b1c2d9;
}

input::-moz-placeholder {
    color: #b1c2d9;
}

input::-moz-placeholder{
    color:#b1c2d9;
}

input:-ms-input-placeholder{
    color: #b1c2d9;
}

/* form-group */
.form-group.with-fake-label{
    padding-top: 30px;
}

/* flex */
.flex-initial{
    flex: initial !important;
}

/* alert */
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1.25rem;
}

.alert-warning-white {
    color: #fff;
    background-color: #f6c343;
}

/* height */
.height-40{
    height: 40px !important;
}

/* margin */
.mt-30{
    margin-top: 30px !important;
}

/* badge */
.badge-warning-white {
    color: #fff;
    background-color: #f6c343;
}

/* text-decoration */
.text-decoration-underline{
    text-decoration: underline !important;
}

/* word-break */
.word-break-keep-all{
    word-break: keep-all !important;
}

/* text-overflow */
.text-overflow-ellipsis{
    text-overflow: ellipsis !important;
}

/* box-shadow */
.box-shadow-none{
    box-shadow: none !important;
}

.input-group-text{
    background: #f9fbfd;
}

/* list-group-item */
.list-group-item.no-items{
    display: flex;
    align-items: center;
    height: 72px;
    border: 0;
}

/* scrollbar */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* flex-wrap */
.flex-wrap-nowrap{
    flex-wrap: nowrap !important;
}

/* disabled */
.form-control:disabled,
.form-control[readonly] {
    background: #f9fbfd;
    opacity: .6;
}

/* dropdown */
.dropdown-toggle::after{
    display: none !important;
}

/* overflow */
.overflow-visible{
    overflow: visible !important;
}

/* noselect */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

/* text-transform */
.text-transform-none{
    text-transform: none !important;
}

/* visibility */
.visibility-hidden{
    visibility: hidden !important;
}

/* line-height */
.line-height-initial{
    line-height: initial !important;
}


input[type=number].appearance-none::-webkit-inner-spin-button,
input[type=number].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
