/* header-body */
.header-body{
  border-bottom-color: transparent;
  padding-bottom: 0;
}

/* deployment-info */
.deployment-info{
  text-align: justify;
  margin-bottom: -1rem;
}

.deployment-info .info-group{
  margin-bottom: 1rem;
}

.deployment-info .info-group h4{
  display: flex;
  align-items: center;
  color: #12263f;
  font-weight: 400;
}

.deployment-info .info-group h4 i{
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  height: 1.3125rem;
}

.deployment-info .info-group .info-item{
  padding-left: 24px;
  margin-bottom: 1rem;
}

.deployment-info .info-item{
  color: #6e84a3;
  padding: 0;
  margin-bottom: 2rem;
}

.deployment-info  .info-item .index{
  font-style: italic;
  font-weight: 600;
  padding-right: 5px;
}

.deployment-info .info-item strong{
  padding: 0 5px;
}

.deployment-info .info-item .title.strong{
  font-weight: 600;
}

.deployment-info .info-item a{
  color: #6e84a3;
  text-decoration: underline;
}

.deployment-info .info-item .content span{
  display: inline-block;
}

/* warning button */
.btn.btn-warning{
  color: #fff;
}

/* new key button */
#new-key{
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(2.40625rem + 2px);
  padding: .5rem .75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #d2ddec;
  border: 1px dashed #d2ddec;
  border-radius: .375rem;
  background-clip: padding-box;
  cursor: pointer;
  transition: 0.2s;
}

#new-key:hover{
  border-color: #2c7be5;
  color: #2c7be5;
}

/* new crawler button */
#new-crawler{
  color: #d2ddec;
  cursor: pointer;
  transition: 0.2s;
}

#new-crawler:hover{
  color: #2c7be5;
}
