/* header-body */
.header-body{
    border-bottom-color: transparent;
    padding-bottom: 0;
}

/* deployment-info */
.deployment-info{
    text-align: justify;
    margin-bottom: -1rem;
}

.deployment-info .info-group{
    margin-bottom: 1rem;
}

.deployment-info .info-group h4{
    display: flex;
    align-items: center;
    color: #12263f;
    font-weight: 400;
}

.deployment-info .info-group h4 i{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    height: 1.3125rem;
}

.deployment-info .info-group .info-item{
    padding-left: 24px;
    margin-bottom: 1rem;
}

.deployment-info .info-item{
    color: #6e84a3;
    padding: 0;
    margin-bottom: 2rem;
}

.deployment-info  .info-item .index{
    font-style: italic;
    font-weight: 600;
    padding-right: 5px;
}

.deployment-info .info-item strong{
    padding: 0 5px;
}

.deployment-info .info-item .title.strong{
    font-weight: 600;
}

.deployment-info .info-item a{
    color: #6e84a3;
    text-decoration: underline;
}

.deployment-info .info-item .content span{
    display: inline-block;
}

/* dropzone */
.idropzone{
    position: relative;
    display: flex;
    flex-direction: column;
}

.dz-preview-cover,
.dz-preview-single{
    position: relative;
}

.dropzone-single .dz-message{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
}

.dropzone-single img{
    display: none;
}

.dropzone-single.i-dz-max-files-reached img{
    display: inline;
}
