/* category */

.categories{
    margin-top: 98px;
}

.categories .category.layer-2{
    margin-left: 1.5rem;
}

.categories .category.layer-3{
    margin-left: 3rem;
}

.categories .category.active{
    background-color: #e2e6ed;
    border-color: #e2e6ed;
}

.categories .category.dragover{
    background-color: #d7eff6 !important;
    border-color: #d7eff6 !important;
}

.categories .category.extend .extend-btn svg{
    transform: rotate(180deg);
}

.categories .category .i-btn{
    display: none;
    height: 19px;
}

.categories .category:hover .i-btn{
    display: inline-flex;
}

.categories .category .new-category-btns{
    display: none;
}

.categories .category:hover .new-category-btns{
    display: flex;
}

.categories .category:hover .new-category-btns button:nth-child(2){
    margin-left: 1px;
}

.categories .category .new-category-btns span{
    display: inline-block;
    transform: scale(.85);
    ]
