.user-info{
    width: calc(100% - 6rem - 24px) !important;
}

.profile-picture{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.profile-picture img{
    height: 100%;
    width: 100%;
}
