.user-info{
    width: calc(100% - 8rem - 24px) !important;
}

.profile-picture{
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.profile-picture img{
    height: 100%;
    width: 100%;
}

#tags-history{
    max-height: 850px;
    overflow: auto;
}

#tags-history .item{
    position: relative;
    padding-top: 1.12rem;
    padding-bottom: 1.12rem;
    padding-left: 26px;
    border-left: 2px solid #e2e6ed;
}

#tags-history .item .dot{
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #e2e6ed;
}

#tags-history .item .inner-dot{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e2e6ed;
    border: 3px solid #fff;
}

#tags-history .item .info{
    position: relative;
}

#tags-history .item .info::before{
    content: '';
    position: absolute;
    left: -14px;
    top: calc(50% - 11px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #edf2f9 transparent transparent;
}

#tags-history .item .description{
    white-space: normal;
    line-height: 1.4;
    text-align: justify;
}

#tags-history .item .datetime{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 0.75rem;
    margin-top: .2rem;
}
