.min-height-200{
    min-height: 200px;
}

/* dropzone */
.idropzone{
    position: relative;
    display: flex;
    flex-direction: column;
}

.dz-preview-cover,
.dz-preview-single{
    position: relative;
}

.dropzone-single .dz-message{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.dropzone-single.i-dz-max-files-reached img{
    display: inline !important;
}

/* for this page */
.w-344{
    width: 344px !important;
}

.col-250{
    position: relative;
    width: 250px;
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 auto;
}

.col-300{
    position: relative;
    width: 300px;
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 auto;
}

#datetime{
    height: 40px;
}

/* message-types */
#message-types{
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    background: #d2ddec;
    transform: translateX(100%);
    transition: transform 0.4s;
}

#message-types.active{
    transform: translateX(0);
}

#message-types-switch{
    position: absolute;
    left: -25px;
    top: 100px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #d2ddec;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
}

#message-types.active #message-types-switch{
    padding-left: 9px;
}

#message-types .type{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 80px;
    border-radius: .375rem;
    cursor: pointer;
    overflow: hidden;
}

/* new-script */
#new-script-layout{
    border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
    padding: 2.25rem;
}

#new-script-layout .alert {
    padding: .375rem 1.25rem;
}

#new-script-layout .buttons{
    margin-top: 20px;
    width: 12px;
}

#new-script-layout .card{
    box-shadow: none !important;
}

#new-script-layout .message>.w-100{
    width: calc(100% - 18px) !important;
}

/* text message */
#new-script-layout .text-message .card{
    width: 195px;
}

#new-script-layout .text-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 90px;
}

/* image message */
#new-script-layout .image-message .un-upload{
    width: 195px;
    height: 114px;
}

#new-script-layout .image-message .uploaded{
    max-width: 195px;
    max-height: 195px;
}

#new-script-layout .image-message .dropzone-single img{
    display: none;
    max-height: 195px;
    max-width: 195px;
    width: auto;
    height: auto;
}

/* imagemap message */
#new-script-layout .imagemap-message .image-layout{
    width: 195px;
    height: 195px;
}

#new-script-layout .imagemap-message .change-image:hover{
    color: #12263f !important;
}

#new-script-layout .imagemap-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* buttons message & carousel message */
#new-script-layout .buttons-message .card,
#new-script-layout .carousel-message .card{
    width: 195px;
}

#new-script-layout .buttons-message .texarea-not-input pre,
#new-script-layout .carousel-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 22px;
}

#new-script-layout .buttons-message .not-input.title,
#new-script-layout .carousel-message .not-input.title{
    font-size: 13px;
    font-weight: 600;
    min-height: 22px;
}

#new-script-layout .buttons-message .texarea-not-input.text textarea,
#new-script-layout .carousel-message .texarea-not-input.text textarea{
    color: #434343;
}

#new-script-layout .buttons-message .not-input.title::-webkit-input-placeholder,
#new-script-layout .carousel-message .not-input.title::-webkit-input-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-script-layout .buttons-message .not-input.title::-moz-placeholder,
#new-script-layout .carousel-message .not-input.title::-moz-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-script-layout .buttons-message .not-input.title::-moz-placeholder,
#new-script-layout .carousel-message .not-input.title::-moz-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-script-layout .buttons-message .not-input.title:-ms-input-placeholder,
#new-script-layout .carousel-message .not-input.title:-ms-input-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-script-layout .buttons-message .actions input.not-input,
#new-script-layout .carousel-message .actions input.not-input{
    color: #335088;
}

#new-script-layout .buttons-message .image-layout.rectangle,
#new-script-layout .carousel-message .image-layout.rectangle{
    padding: 33.75% 0 33.75% 0;
}

#new-script-layout .buttons-message .image-layout.square,
#new-script-layout .carousel-message .image-layout.square{
    padding: 50% 0 50% 0;
}

#new-script-layout .buttons-message .dz-message,
#new-script-layout .carousel-message .dz-message{
    border-radius: 0.45rem;
}

#new-script-layout .buttons-message .image-layout>div,
#new-script-layout .buttons-message .dropzone-single .dz-message,
#new-script-layout .carousel-message .image-layout>div,
#new-script-layout .carousel-message .dropzone-single .dz-message{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#new-script-layout .buttons-message .close-edit-block,
#new-script-layout .carousel-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* confirm message */

#new-script-layout .confirm-message .card{
    width: 195px;
}

#new-script-layout .confirm-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 18px;
}

#new-script-layout .confirm-message .actions>div:first-child{
    border-right: .5px solid #e3ebf6;
}

#new-script-layout .confirm-message .actions>div:last-child{
    border-left: .5px solid #e3ebf6;
}

#new-script-layout .confirm-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

/* imagecarousel message */
#new-script-layout .imagecarousel-message .image-layout{
    width: 195px;
    height: 195px;
}

#new-script-layout .imagecarousel-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

#new-script-layout .imagecarousel-message .image-layout+.button{
    bottom: 25px;
    left: 32.5px;
    z-index: 999;
}

#new-script-layout .imagecarousel-message .image-layout+.button input{
    width: 130px;
    font-size: 12px;
    background: #d2ddec;
    border-radius: 25px;
}

#new-script-layout .imagecarousel-message .image-layout+.button input.valued{
    background: rgba(0,0,0,0.5);
}

#new-script-layout .imagecarousel-message .image-layout+.button input::-webkit-input-placeholder{
    color: #95aac9;
}

#new-script-layout .imagecarousel-message .image-layout+.button input::-moz-placeholder{
    color: #95aac9;
}

#new-script-layout .imagecarousel-message .image-layout+.button input::-moz-placeholder{
    color: #95aac9;
}

#new-script-layout .imagecarousel-message .image-layout+.button input:-ms-input-placeholder{
    color: #95aac9;
}

#new-script-layout .imagecarousel-message .image-layout+.button input.bg-danger::-webkit-input-placeholder{
    color: #fff;
}

#new-script-layout .imagecarousel-message .image-layout+.button input.bg-danger::-moz-placeholder{
    color: #fff;
}

#new-script-layout .imagecarousel-message .image-layout+.button input.bg-danger::-moz-placeholder{
    color: #fff;
}

#new-script-layout .imagecarousel-message .image-layout+.button input.bg-danger:-ms-input-placeholder{
    color: #fff;
}

/* quickreply message */
#new-script-layout .quickreply-message .image-layout{
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
}

#new-script-layout .quickreply-message .insert-or-remove-buttons-layout{
    padding-right: 42px;
}

#new-script-layout .quickreply-message .insert-or-remove-buttons{
    display: flex;
    height: 100%;
    left: 153px;
    padding-top: 2.5px;
}

#new-script-layout .quickreply-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

#new-script-layout .quickreply-message .button input{
    width: 150px;
    font-size: 12px;
    background: #d2ddec;
    border-radius: 25px;
    padding-left: 26px;
}

#new-script-layout .quickreply-message .button input.valued{
    background: rgba(0,0,0,0.5);
}

#new-script-layout .quickreply-message .button input::-webkit-input-placeholder{
    color: #95aac9;
}

#new-script-layout .quickreply-message .button input::-moz-placeholder{
    color: #95aac9;
}

#new-script-layout .quickreply-message .button input::-moz-placeholder{
    color: #95aac9;
}

#new-script-layout .quickreply-message .button input:-ms-input-placeholder{
    color: #95aac9;
}

#new-script-layout .quickreply-message .button input.bg-danger::-webkit-input-placeholder{
    color: #fff;
}

#new-script-layout .quickreply-message .button input.bg-danger::-moz-placeholder{
    color: #fff;
}

#new-script-layout .quickreply-message .button input.bg-danger::-moz-placeholder{
    color: #fff;
}

#new-script-layout .quickreply-message .button input.bg-danger:-ms-input-placeholder{
    color: #fff;
}



#new-script-layout .invalid-feedback{
    font-size: 12px;
}



/* droppable */
.droppable>div{
    border-radius: .375rem;
    height: 0;
    border: 0 dashed #d2ddec;
    transition: height 0.2s;
}

.droppable.dragover>div{
    height: 25px;
    border-width: 2px;
}



/* not-input */

.texarea-not-input pre{
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
}

textarea.not-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

input.not-input{
    width: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: rgba(256,256,256,.5);
}

.grid .tr {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.grid .td {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: .5px solid #d2ddec;
    overflow: hidden;
}

.grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.grid .td .index .times{
    display: none;
}

.grid .td .index:hover .times{
    display: block;
}

.grid .td .index:hover .id{
    display: none;
}

.grid .td>.tr>.td:first-of-type{
    border-left-width: 0 !important;
}

.grid .td>.tr>.td:last-of-type{
    border-right-width: 0 !important;
}

.grid .td>.tr:first-of-type>.td{
    border-top-width: 0 !important;
}

.grid .td>.tr:last-of-type>.td{
    border-bottom-width: 0 !important;
}




.grid>.tr>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:first-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-top-left-radius: .375rem;
}

.grid>.tr:first-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-top-right-radius: .375rem;
}

.grid>.tr:first-of-type>.td{
    border-top-width: 2px;
}

.grid>.tr:last-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-bottom-left-radius: .375rem;
}

.grid>.tr:last-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-bottom-right-radius: .375rem;
}

.grid>.tr:last-of-type>.td{
    border-bottom-width: 2px;
}

/* #grid */
#grid .td.hover,
#grid .td.dragover,
#grid .td.selected{
    background: rgba(210,221,236,.75);
}

#grid .td.has-error{
    background: rgba(230, 55, 87, .6) !important;
}

/* new-row new-column */
.new-grid{
    width: 40px;
    height: 40px;
}

.new-grid .td{
    background-color: rgba(256,256,256,0.75);
}

/* tree */
#tree ul.tree-ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree li.tree-li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

#tree li.tree-li::before,
#tree li.tree-li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #d2ddec;
    width: 50%; height: 20px;
}
#tree li.tree-li::after{
    right: auto; left: 50%;
    border-left: 1px solid #d2ddec;
}

/*We need to remove left-right connectors from elements without any siblings*/
#tree li.tree-li:only-child::after,
#tree li.tree-li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
#tree li.tree-li:only-child{
    padding: 0;
}

/*Remove left connector from first child and right connector from last child*/
#tree li.tree-li:first-child::before,
#tree li.tree-li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
#tree li.tree-li:last-child::before{
    border-right: 1px solid #d2ddec;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
#tree li.tree-li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
#tree ul.tree-ul ul.tree-ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #d2ddec;
    width: 0; height: 20px;
}

#tree li.tree-li .node{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #d2ddec;
    padding: 6px;
    text-decoration: none;
    color: #12263f;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree li.tree-li .node.editting{
    width: 400px;
}

#tree li.tree-li .node.editting.w-600{
    width: 600px;
}

#tree li.tree-li .node:not(.editting):not(.start){
    cursor: pointer;
}

#tree li.tree-li .node.start .message-label p{
    background-color: #ADB1B5 !important;
}

#tree li.tree-li .node>.message-label p{
    margin: 0;
    width: 100px;
}

#tree li.tree-li .node .message-label p:not(:last-of-type){
    margin-bottom: .4rem;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
#tree li.tree-li .node.hover>.message-label p,
#tree li.tree-li .node:not(.editting):not(.start):hover>.message-label p,
#tree li.tree-li .node:not(.editting):not(.start):hover+ul.tree-ul li.tree-li .node>.message-label p {
    background: #d5e5fa;
    color: #6e84a3 !important;
}

#tree li.tree-li .node>.message-label p.hover{
    background: #fdf3d9 !important;
}

/* tree */

#tree .node .toggle-message-template{
    font-size: 12px;
    line-height: 1.5;
    padding: .125rem .65rem;
    transform: scale(.85) translateX(-79.5px);
}

#tree .node .close-edit-block{
    font-size: 12px;
    line-height: 1.5;
    padding: .125rem .4rem;
    transform: scale(.85) translateX(5.76px);
}

#tree .node .droppable{
    padding: 10px 7px 4.6px 15px;
}

/* message-action */
.next-with-message-action .card,
.message-action .card,
.keyword-action .card{
    border: 1px solid #d2ddec;
}

.next-with-message-action pre,
.message-action pre{
    min-height: 72px !important;
}

.keyword-action pre{
    min-height: 54px !important;
}

.keyword-action .card-body.disabled{
    background: #f9fbfd;
    opacity: .6;
}
