/* version */

#script-version .multiselect.multiselect-sm .multiselect__tags{
    padding: .125rem .8rem;
}

#script-version .multiselect.multiselect-sm .multiselect__option{
    text-align: center;
}

#script-version .multiselect__single>div{
    min-width: 40px;
}

/* script */

.deleted:after,
.version:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

.text-2451010{
    color: rgb(245, 101, 0)!important;
}

#script .card-header>*{
    flex: auto;
}

#script.unexpand{
    max-width: calc(100% - 424px);
}

#script-expand,
#script-compress{
    display: inline-flex;
    transition: 0.2s;
}

#script-expand:hover{
    transform: scale(1.1);
}

#script-compress:hover{
    transform: scale(.9);
}

#display-switch .type.btn.active{
    border-color: #6e84a3 !important;
}
