/* table */
.table th:first-of-type,
.table th:nth-of-type(4),
.table td:first-of-type,
.table td:nth-of-type(4){
  text-align: left;
}

.table th:nth-of-type(4),
.table td:nth-of-type(4){
  max-width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
}
