#users-table table tr td{
    vertical-align: text-top;
}

#users-table table tr td:last-child,
#users-table table tr td:nth-last-child(2){
    width: 20px;
    padding-left: .375rem;
    padding-right: 1.5rem!important;
}

#users-table table tr td:last-child div,
#users-table table tr td:nth-last-child(2) div{
    cursor: pointer;
}

/* multiselect */
/* #role-editting .multiselect__tags{
    padding: .2rem .5rem;
}

#role-editting .multiselect__tag{
    padding: 2px 20px 4px 8px;
    margin-right: 6px;
}

#role-editting .multiselect__tag span {
    font-size: 0.750rem;
} */
