.richmenu-preview{
    width: 200px;
}


.richmenu-preview .imege.type-1{
    padding: 33.75% 0 33.75% 0;
}

.richmenu-preview .imege.type-2{
    padding: 16.86% 0 16.86% 0;
}

.richmenu-preview .imege img{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.richmenu-preview .chatbar-text-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -30px;
    height: 22px;
    margin: 0;
    font-size: .75rem;
    background: #1D2437;
    color: rgba(256,256,256,0.9);
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.richmenu-preview .chatbar-text-preview span{
    transform: scale(.9);
}
