.text-2451010{
    color: rgb(245, 101, 0)!important;
}

.total-counts:after,
.version:after{
    content: "|";
    position: absolute;
    right: -1px;
    top: -1px;
    width: 2px;
    text-align: center;
}

#keywords-table .type.btn.active{
    border-color: #6e84a3 !important;
    z-index: auto;
}

#keywords-table .chart{
    height: 200px;
}

#keywords-table .close-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95aac9;
    color: #fff;
    margin-top: -1px;
    width: 50px;
    height: 20px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}
