/* version */

#keyword-version .multiselect.multiselect-sm .multiselect__tags{
    padding: .125rem .8rem;
}

#keyword-version .multiselect.multiselect-sm .multiselect__option{
    text-align: center;
}

#keyword-version .multiselect__single>div{
    min-width: 40px;
}

/* keyword */

.trigger-type:after,
.deleted:after,
.version:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

.active-dot{
    margin-top: 2px;
}

.QR-code{
    border-left: 1px solid #edf2f9;
    text-align: center;
    vertical-align: middle;
}

.QR-code img{
    height: 80px;
}
