.version:after{
    content: "|";
    position: absolute;
    left: -1px;
    width: 2px;
    text-align: center;
}

.message-content li{
    color: #6e84a3;
    background-color: #e2e6ed;
    display: inline-block;
    padding: .33em .5em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}

.message-content li.has-quick-replay{
    color: #39afd1;
    background-color: #d7eff6;
    border-color: #d7eff6;
}
