/* version */

#message-version .multiselect.multiselect-sm .multiselect__tags{
    padding: .125rem .8rem;
}

#message-version .multiselect.multiselect-sm .multiselect__option{
    text-align: center;
}

#message-version .multiselect__single>div{
    min-width: 40px;
}

/* message */

.deleted:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

#message .card-header>*{
    flex: auto;
}

#message.unexpand{
    max-width: calc(100% - 424px);
}

#message-expand,
#message-compress{
    display: inline-flex;
    transition: 0.2s;
}

#message-expand:hover{
    transform: scale(1.1);
}

#message-compress:hover{
    transform: scale(.9);
}

#display-switch .type.btn.active{
    border-color: #6e84a3 !important;
}
