/* dropzone */
.idropzone{
    position: relative;
    display: flex;
    flex-direction: column;
}

.dz-preview-cover,
.dz-preview-single{
    position: relative;
}

.dropzone-single .dz-message{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropzone-single img{
    display: none;
}

.dropzone-single.i-dz-max-files-reached img{
    display: inline;
}

/* richmenu */
#richmenu-layout{
    margin-bottom: 30px;
}

#richmenu-layout.type-1{
    padding: 33.75% 0 33.75% 0;
}

#richmenu-layout.type-2{
    padding: 16.86% 0 16.86% 0;
}

#richmenuImage{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: rgba(256,256,256,.5);
}

.grid .tr {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.grid .td {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: .5px solid #d2ddec;
    overflow: hidden;
}

.grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: .375rem;
    cursor: pointer;
}

.grid .td .index .times{
    display: none;
}

.grid .td .index:hover .times{
    display: block;
}

.grid .td .index:hover .id{
    display: none;
}

.grid .td>.tr>.td:first-of-type{
    border-left-width: 0 !important;
}

.grid .td>.tr>.td:last-of-type{
    border-right-width: 0 !important;
}

.grid .td>.tr:first-of-type>.td{
    border-top-width: 0 !important;
}

.grid .td>.tr:last-of-type>.td{
    border-bottom-width: 0 !important;
}




.grid>.tr>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:first-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-top-left-radius: .375rem;
}

.grid>.tr:first-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-top-right-radius: .375rem;
}

.grid>.tr:first-of-type>.td{
    border-top-width: 2px;
}

.grid>.tr:last-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-bottom-left-radius: .375rem;
}

.grid>.tr:last-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-bottom-right-radius: .375rem;
}

#grid>.tr:last-of-type>.td{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.grid>.tr:last-of-type>.td{
    border-bottom-width: 2px;
}

/* #grid */
#grid .td.hover,
#grid .td.dragover,
#grid .td.selected{
    background: rgba(210,221,236,.75);
}

#grid .td.has-error{
    background: rgba(230, 55, 87, .6) !important;
}

/* new-row new-column */
.new-grid{
    width: 50px;
    height: 50px;
}

.new-grid .td{
    background-color: rgba(256,256,256,0.75);
}

/* change image */
#change-image:hover{
    color: #12263f !important;
}

/* chatBarTextPreview */
#chatBarTextPreview{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -30px;
    height: 30px;
    font-size: .8125rem;
    background: #1D2437;
    color: rgba(256,256,256,0.9);
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.message-action .card,
.keyword-action .card{
    border: 1px solid #d2ddec;
}

.message-action pre {
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
    font-size: 15px;
    min-height: 88px;
}

.keyword-action pre{
    min-height: 66px !important;
}

.keyword-action .card-body.disabled{
    background: #f9fbfd;
    opacity: .6;
}

textarea.not-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none !important;
    border: none;
    resize: none !important;
    overflow: hidden !important;
}
