#richmenus-table .preview{
    width: 180px;
}


#richmenus-table .preview .imege.type-1{
    padding: 33.75% 0 33.75% 0;
}

#richmenus-table .preview .imege.type-2{
    padding: 16.86% 0 16.86% 0;
    margin-top: 33.76%;
}

#richmenus-table .preview .imege img{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

#richmenus-table .chatbar-text-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -30px;
    height: 20px;
    margin: 0;
    font-size: .75rem;
    background: #1D2437;
    color: rgba(256,256,256,0.9);
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

#richmenus-table .chatbar-text-preview span{
    transform: scale(.9);
}

#richmenus-table .card{
    overflow: visible;
}

.default:after,
.version:after{
    content: "|";
    position: absolute;
    right: -1px;
    top: 0;
    width: 2px;
    text-align: center;
}
