.text-2451010{
    color: rgb(245, 101, 0)!important;
}

.width-300{
    width: 300px !important;
}

#richmenu-content .type.btn.active{
    border-color: #6e84a3 !important;
    z-index: auto;
}

/* version */

#richmenu-version .multiselect.multiselect-sm .multiselect__tags{
    padding: .125rem .8rem;
}

#richmenu-version .multiselect.multiselect-sm .multiselect__option{
    text-align: center;
}

#richmenu-version .multiselect__single>div{
    min-width: 40px;
}

/* richmenu */

.default:after,
.deleted:after,
.version:after{
    content: "|";
    position: absolute;
    right: -1px;
    top: 0;
    width: 2px;
    text-align: center;
}

#richmenu-layout{
    margin-bottom: 30px;
}

#richmenu-layout.type-1{
    padding: 33.75% 0 33.75% 0;
}

#richmenu-layout.type-2{
    padding: 16.86% 0 16.86% 0;
}

#richmenu-layout img{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* chatBarTextPreview */
#chatBarTextPreview{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -30px;
    height: 30px;
    font-size: .8125rem;
    background: #1D2437;
    color: rgba(256,256,256,0.9);
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

/* area-list */

#area-list tr:first-of-type th,
#area-list tr:first-of-type td{
    border-top: 0;
}

#area-list tr:first-of-type th{
    width: 70px;
}

#area-list td p{
    display: flex;
    text-align: justify;
    margin-bottom: .375rem;
}

#area-list td p.h5{
    align-items: center;
}

#area-list .tags-count{
    margin-top: -1px;
}

#area-list td>div p:last-of-type{
    margin-bottom: 0;
    word-break: break-word;
}

#area-list td p span:first-child{
    word-break: keep-all;
}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: rgba(256,256,256,.5);
}

.grid .tr {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.grid .td {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: .5px solid #d2ddec;
    overflow: hidden;
}

.grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: .375rem;
}

.grid .td>.tr>.td:first-of-type{
    border-left-width: 0 !important;
}

.grid .td>.tr>.td:last-of-type{
    border-right-width: 0 !important;
}

.grid .td>.tr:first-of-type>.td{
    border-top-width: 0 !important;
}

.grid .td>.tr:last-of-type>.td{
    border-bottom-width: 0 !important;
}




.grid>.tr>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:first-of-type>.td:first-of-type{
    border-left-width: 2px;
    border-top-left-radius: .375rem;
}

.grid>.tr:first-of-type>.td:last-of-type{
    border-right-width: 2px;
    border-top-right-radius: .375rem;
}

.grid>.tr:first-of-type>.td{
    border-top-width: 2px;
}

.grid>.tr:last-of-type>.td:first-of-type{
    border-left-width: 2px;
}

.grid>.tr:last-of-type>.td:last-of-type{
    border-right-width: 2px;
}

.grid>.tr:last-of-type>.td{
    border-bottom-width: 2px;
}
