/* edit-organization */
#edit-organization-layout{
    border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
    padding: 2.25rem;
}

#edit-organization-layout .alert {
    padding: .375rem 1.25rem;
}

/* #new-script-layout .buttons{
margin-top: 20px;
width: 12px;
}

#new-script-layout .card{
box-shadow: none !important;
}

#new-script-layout .message>.w-100{
width: calc(100% - 18px) !important;
} */

/* tree */
#tree ul.tree-ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree li.tree-li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

#tree li.tree-li::before,
#tree li.tree-li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #d2ddec;
    width: 50%; height: 20px;
}
#tree li.tree-li::after{
    right: auto; left: 50%;
    border-left: 1px solid #d2ddec;
}

/*We need to remove left-right connectors from elements without any siblings*/
#tree li.tree-li:only-child::after,
#tree li.tree-li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
#tree li.tree-li:only-child{
    padding: 0;
}

/*Remove left connector from first child and right connector from last child*/
#tree li.tree-li:first-child::before,
#tree li.tree-li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
#tree li.tree-li:last-child::before{
    border-right: 1px solid #d2ddec;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
#tree li.tree-li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
#tree ul.tree-ul ul.tree-ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #d2ddec;
    width: 0; height: 20px;
}

#tree li.tree-li .node{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #d2ddec;
    padding: 6px;
    text-decoration: none;
    color: #12263f;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree .node .count-label{
    position: absolute;
    top: -10px;
    right: -6px;
}

#tree li.tree-li .node.start .message-label p{
    background-color: #ADB1B5 !important;
}

#tree li.tree-li .node>.message-label p{
    margin: 0;
    min-width: 100px;
}

#tree li.tree-li .node .message-label p:not(:last-of-type){
    margin-bottom: .4rem;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/* #tree li.tree-li .node.hover>.message-label p,
#tree li.tree-li .node:hover>.message-label p,
#tree li.tree-li .node:hover+ul.tree-ul li.tree-li .node>.message-label p {
background: #d5e5fa; */
/* border: 1px solid #2c7be5; */
/* } */

/* #tree li.tree-li .node>.message-label p.hover{
background: #fdf3d9 !important;
} */

/*Connector styles on hover*/
/* #tree li.tree-li .node:hover+ul li::after,
#tree li.tree-li .node:hover+ul li::before,
#tree li.tree-li .node:hover+ul::before,
#tree li.tree-li .node:hover+ul ul::before{
border-color:  #2c7be5;
} */

#tree .node .close-edit-block{
    font-size: 12px;
    line-height: 1.5;
    padding: .125rem .4rem;
    transform: scale(.85) translateX(5.76px);
}

#tree .node .droppable{
    padding: 10px 7px 4.6px 15px;
}

#tree .node pre{
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    white-space: pre-wrap;
    margin: 0;
    height: 0px;
}

#tree .node input.not-input{
    width: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    background: transparent !important;
}
