#new-template-layout .min-height-200{
    min-height: 200px;
}

/* for this page */

#new-template-layout .col-250{
    position: relative;
    width: 250px;
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 auto;
}

#new-template-layout .col-300{
    position: relative;
    width: 300px;
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 auto;
}

/* new-template */
#new-template-layout{
    border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
    padding: 2.25rem;
}

#new-template-layout .alert {
    padding: .375rem 1.25rem;
}

#new-template-layout .buttons{
    margin-top: 20px;
    width: 12px;
}

#new-template-layout .card{
    box-shadow: none !important;
}

#new-template-layout .message>.w-100{
    width: calc(100% - 18px) !important;
}

/* text message */
#new-template-layout .text-message .card{
    width: 195px;
}

#new-template-layout .text-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 90px;
}

/* image message */
#new-template-layout .image-message .un-upload{
    width: 195px;
    height: 114px;
}

#new-template-layout .image-message .uploaded{
    max-width: 195px;
    max-height: 195px;
}

#new-template-layout .image-message .dropzone-single img{
    display: none;
    max-height: 195px;
    max-width: 195px;
    width: auto;
    height: auto;
}

/* imagemap message */
#new-template-layout .imagemap-message .image-layout{
    width: 195px;
    height: 195px;
}

/* buttons message & carousel message */
#new-template-layout .buttons-message .card,
#new-template-layout .carousel-message .card{
    width: 195px;
}

#new-template-layout .buttons-message .texarea-not-input pre,
#new-template-layout .carousel-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 22px;
}

#new-template-layout .buttons-message .not-input.title,
#new-template-layout .carousel-message .not-input.title{
    font-size: 13px;
    font-weight: 600;
    min-height: 22px;
}

#new-template-layout .buttons-message .not-input.title::-webkit-input-placeholder,
#new-template-layout .carousel-message .not-input.title::-webkit-input-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-template-layout .buttons-message .not-input.title::-moz-placeholder,
#new-template-layout .carousel-message .not-input.title::-moz-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-template-layout .buttons-message .not-input.title::-moz-placeholder,
#new-template-layout .carousel-message .not-input.title::-moz-placeholder{
    font-size: 12px;
    font-weight: 400;
}

#new-template-layout .buttons-message .not-input.title:-ms-input-placeholder,
#new-template-layout .carousel-message .not-input.title:-ms-input-placeholder{
    font-size: 12px;
    font-weight: 400;
}

/* confirm message */

#new-template-layout .confirm-message .card{
    width: 195px;
}

#new-template-layout .confirm-message .texarea-not-input pre{
    font-size: 12px;
    min-height: 18px;
}

/* imagecarousel message */
#new-template-layout .imagecarousel-message .image-layout{
    width: 195px;
    height: 195px;
}

#new-template-layout .imagecarousel-message .image-layout+.button{
    bottom: 25px;
    left: 32.5px;
    z-index: 999;
}

#new-template-layout .imagecarousel-message .image-layout+.button input{
    width: 130px;
    font-size: 12px;
    background: #d2ddec;
    border-radius: 25px;
}

/* quickreply message */
#new-template-layout .quickreply-message .image-layout{
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
}

#new-template-layout .quickreply-message .insert-or-remove-buttons-layout{
    padding-right: 42px;
}

#new-template-layout .quickreply-message .insert-or-remove-buttons{
    display: flex;
    height: 100%;
    left: 153px;
    padding-top: 2.5px;
}

.quickreply-message .close-edit-block{
    font-size: 12px;
    line-height: inherit;
}

#new-template-layout .quickreply-message .button input{
    width: 150px;
    font-size: 12px;
    background: #d2ddec;
    border-radius: 25px;
    padding-left: 26px;
}

#new-template-layout .quickreply-message .button input.valued{
    background: rgba(0,0,0,0.5);
}

/* coupon message */
#new-template-layout .coupon-message .image-layout{
    width: 195px;
    height: 195px;
}

#new-template-layout .coupon-message .image-type.un-upload .image-layout{
    width: 195px;
    height: 114px;
}

#new-template-layout .coupon-message .image-type.uploaded .image-layout{
    max-width: 195px;
    max-height: 195px;
}

#new-template-layout .coupon-message .dropzone-single img{
    display: none;
    max-height: 195px;
    max-width: 195px;
    width: auto;
    height: auto;
}

#new-template-layout .coupon-message .type span{
    width: 60px;
}

#new-template-layout .coupon-message .position-input{
    width: 50px;
}




#new-template-layout .invalid-feedback{
    font-size: 12px;
}

/* droppable */
#new-template-layout .droppable>div{
    border-radius: .375rem;
    height: 0;
    border: 0 dashed #d2ddec;
    transition: height 0.2s;
}

#new-template-layout .droppable.dragover>div{
    height: 25px;
    border-width: 2px;
}



/* not-input */

#new-template-layout .texarea-not-input pre{
    font-family: Nunito;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
}

#new-template-layout textarea.not-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

#new-template-layout input.not-input{
    width: 100%;
    padding: 0;
    outline: none !important;
    border: none !important;
    resize: none !important;
    overflow: hidden !important;
}

/* grid */

#new-template-layout .grid .td .index{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d2ddec;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: .375rem;
    cursor: pointer;
}

/* new-row new-column */
#new-template-layout .new-grid{
    width: 40px;
    height: 40px;
}

/* tree */
#tree ul.tree-ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree li.tree-li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

#tree li.tree-li::before,
#tree li.tree-li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #d2ddec;
    width: 50%; height: 20px;
}
#tree li.tree-li::after{
    right: auto; left: 50%;
    border-left: 1px solid #d2ddec;
}

/*We need to remove left-right connectors from elements without any siblings*/
#tree li.tree-li:only-child::after,
#tree li.tree-li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
#tree li.tree-li:only-child{
    padding: 0;
}

/*Remove left connector from first child and right connector from last child*/
#tree li.tree-li:first-child::before,
#tree li.tree-li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
#tree li.tree-li:last-child::before{
    border-right: 1px solid #d2ddec;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
#tree li.tree-li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
#tree ul.tree-ul ul.tree-ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #d2ddec;
    width: 0;
    height: 20px;
}

#tree li.tree-li .node{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #d2ddec;
    text-decoration: none;
    color: #12263f;
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#tree li.tree-li .node.disabled{
    opacity: .5;
    cursor: not-allowed !important;
}

#tree li.tree-li .node .labels{
    margin: -6px;
}

#tree li.tree-li .node .labels>div{
    padding: 6px;
}

#tree li.tree-li .node .condition-labels{
    border-bottom: 1px solid #d2ddec;
}

#tree li.tree-li .node.editting{
    width: 400px;
}

#tree li.tree-li .node.editting.w-600{
    width: 600px;
}

#tree li.tree-li .node:not(.editting):not(.start){
    cursor: pointer;
}

#tree li.tree-li .node.start .message-labels p{
    background-color: #ADB1B5 !important;
}

#tree li.tree-li .node .message-labels p,
#tree li.tree-li .node .condition-labels p{
    margin: 0;
    min-width: 100px;
}

#tree li.tree-li .node .message-labels p:not(:last-of-type){
    margin-bottom: .4rem;
}

/* tree */

#tree .node .close-edit-block{
    font-size: 12px;
    line-height: 1.5;
    padding: .125rem .4rem;
    transform: scale(.85) translateX(5.76px);
}

#tree .node .droppable{
    padding: 10px 7px 4.6px 15px;
}

/* message-action */

#new-template-layout .message-action pre{
    min-height: 88px !important;
}

#new-template-layout .keyword-action pre{
    min-height: 66px !important;
}
