#group-condition-layout{
    border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
    padding: 2.25rem;
}

#group-condition-layout .circles.dragover{
    background: rgba(0,0,0,0.035) !important;
}

#group-condition-layout .circles svg{
    height: 260px;
}

#group-condition-layout .circles:not(.init) .area{
    cursor: pointer;
}

#group-condition-layout .circles.init .area{
    stroke-dasharray: 12;
}

#group-condition-layout .circles .area.active{
    fill: #d5e5fa !important;
}

/* tags-searching */
#tags-searching{
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    background: #d2ddec;
    transform: translateX(100%);
    transition: transform 0.4s;
}

#tags-searching.active{
    transform: translateX(0);
}

#tags-searching-switch{
    position: absolute;
    left: -25px;
    top: 100px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #d2ddec;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
}

#tags-searching.active #tags-searching-switch{
    padding-left: 9px;
}

#tags-searching .loading-layout.bg-secondary {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(226, 230, 237, 0.3) 25%) !important;
}

#tags-searching .paginator>div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: .2rem;
    cursor: pointer;
}
