#sync-group{
    color: #95aac9;
}
#sync-group.loading{
    color: #2c7be5;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

#group-condition-layout .circles.dragover{
    background: rgba(0,0,0,0.035) !important;
}

#group-condition-layout .circles svg{
    height: 260px;
}

#group-condition-layout .circles.init .area{
    stroke-dasharray: 12;
}

#group-condition-layout .circles .area.active{
    fill: #d5e5fa !important;
}


.users-list .card-body{
    max-height: 360px;
    overflow: auto;
}

.users-list img{
    width: 3rem;
    height: 3rem;
}

.users-list .list-group-item{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.users-list .list-group-item:last-child{
    border-bottom: 0;
}

.users-list .user-info{
    width: calc(100% - 54px);
}

#search-from{
    border-bottom: 1px solid #edf2f9;
}
