.table td .name {
    font-size: .9375rem;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* type buttons */
#auto-answers-table .type.btn.active{
    border-color: #6e84a3 !important;
}

/* calendar */
#auto-answer-calendar table{
    table-layout: fixed;
}

#auto-answer-calendar table tbody th{
    padding: 0;
}

#auto-answer-calendar table tbody tr th:not(:last-child){
    border-right: 1px dashed #edf2f9;
}

#auto-answer-calendar table tbody th>div{
    min-height: 85px;
    padding-top: .375rem;
    padding-bottom: .375rem;
}

#auto-answer-calendar table tbody th .date{
    padding-right: .375rem!important;
    margin-bottom: .375rem!important;
    text-align: right;
}

#auto-answer-calendar table tbody th .date span.today{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #e63757;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#auto-answer-calendar table tbody th .auto-answers{
    display: flex;
    flex-direction: column;
}

#auto-answer-calendar table tbody th .auto-answers .badge{
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .1875rem!important;
    cursor: pointer;
    border-radius: 0;
}

#auto-answer-calendar table tbody th .auto-answers .badge.space{
    cursor: default;
    background: transparent;
}

#auto-answer-calendar table tbody th .auto-answers .badge.ml{
    margin-left: .375rem!important;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    color: #12263f;
}

#auto-answer-calendar table tbody th .auto-answers .badge.mr{
    margin-right: .375rem!important;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

#auto-answer-calendar table tbody th .auto-answers .badge:last-child{
    margin-bottom: 0;
}

#auto-answer-calendar table tbody th .more{
    line-height: 10px;
    cursor: pointer;
}

#auto-answer-calendar .badge-soft-info[href]:focus,
#auto-answer-calendar .badge-soft-info[href]:hover{
    background-color: #d7eff6;
}

#auto-answer-calendar .badge-light[href]:focus,
#auto-answer-calendar .badge-light[href]:hover{
    background-color: #edf2f9;
}

/* auto-answer-list */

#auto-answers-table .tags_count:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

#auto-answers-table .message-content li{
    color: #6e84a3;
    background-color: #e2e6ed;
    display: inline-block;
    padding: .33em .5em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}

#auto-answers-table .message-content li.has-quick-replay{
    color: #39afd1;
    background-color: #d7eff6;
    border-color: #d7eff6;
}

.dropdown-toggle::after{
    display: none !important;
}
