.active-types:after{
    content: "|";
    position: absolute;
    right: -1px;
    width: 2px;
    text-align: center;
}

.active-dot{
    margin-top: 2px;
}

.text-2451010{
    color: rgb(245, 101, 0)!important;
}

#periods-chart .progress-bar,
#periods-info .progress-bar{
    height: .25rem;
}

#time-bar{
    position: relative;
    border-bottom: 1px dashed #d2ddec;
}

#time-bar .datetime{
    position: absolute;
    top: -7px;
    height: 15px;
    border-left: 1px solid #d2ddec;
}

#time-bar .datetime span{
    position: absolute;
    top: 100%;
    color: #95aac9;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(-7px, 13px) rotate(30deg);
}
