<%!
import (
"bytes"
)

type RedirectViewData struct {
	Host string
	RedirectURL string
	Solution    string
	Deployment  string
	Tag         string
}
%>

<%: func Redirect(viewData RedirectViewData, buffer *bytes.Buffer) %>

<!DOCTYPE html>
<html>
<title></title>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script>
	liff.init(
	data => {

		const userId = data.context.userId;

		var ajax = new XMLHttpRequest(),
		data = new FormData();

		data.append('solution', '<%= viewData.Solution %>');
		data.append('deployment', '<%= viewData.Deployment %>');
		data.append('userId', userId);
		data.append('tag', '<%= viewData.Tag %>');

		ajax.open('post','https://<%= viewData.Host %>/liff/do');
		ajax.send(data);

		window.open('<%= viewData.RedirectURL %>', '_self');

	},
	err => {

		window.open('<%= viewData.RedirectURL %>', '_self');
	}
	);
</script>
</html>
